<h2 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Sign up for an account
</h2>

<form class="ui form segment">
  <div class="field">
    <label>Username</label>
    <input placeholder="Username" name="username" type="text">
  </div>
  <div class="field">
    <label>Password</label>
    <input name="password" type="password">
  </div>
  <div class="inline field">
  </div>
  <div class="ui primary submit button">Submit</div>
</form>