
<%= link_to "Chatroom", root_path, class:"item"%>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="ui simple dropdown item">
    Account 
    <i class="dropdown icon"></i>
    <div class="menu">
        <% if logged_in? %>
        <%= link_to "Logout", logout_path, data: {turbo_method: :delete}, class: "item" %>
        <% else %>
            <%= link_to "Log in", login_path, class:"item"%>
        <% end %>
    </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
</div>